{% extends 'base.html.twig' %}

{% block title %}Terrarium index{% endblock %}

{% block body %}
    <h1>Terrarium index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MinLuminosityLevel</th>
{#                <th>NightHour</th>#}
{#                <th>DayHour</th>#}
                <th>Name</th>
                <th>Specimen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for terrarium in terraria %}
            <tr>
                <td>{{ terrarium.id }}</td>
                <td>{{ terrarium.minLuminosityLevel }}</td>
{#                <td>{{ terrarium.nightHour ? terrarium.nightHour|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ terrarium.dayHour ? terrarium.dayHour|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ terrarium.name }}</td>
                <td>{{ terrarium.specimen }}</td>
                <td>
                    <a href="{{ path('app_terrarium_show', {'id': terrarium.id}) }}">show</a>
                    <a href="{{ path('app_terrarium_edit', {'id': terrarium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_terrarium_new') }}">Create new</a>
{% endblock %}
